.detalles {
    height: 20em;
    padding: 0px 20px 0px 20px;
    
}
.detalles h1 {
    margin-top: 10px;
    margin-bottom: 8px;
}
.detalles-cuerpo {
    border: 2px solid #7e7e7e;
    padding: 0px 0px 10px 10px;
    overflow-y: scroll;
    height: 15em;
}

.empty {
    padding: 20px;
}

h1 {
    font-size: 1.5em;
    justify-self: center;
}