  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 10dvh;
  }

  /* From Uiverse.io by themrsami */ 
  header {
    background: linear-gradient(
        30deg,
        #111111 12%,
        transparent 12.5%,
        transparent 87%,
        #111111 87.5%,
        #111111
      ),
      linear-gradient(
        150deg,
        #111111 12%,
        transparent 12.5%,
        transparent 87%,
        #111111 87.5%,
        #111111
      ),
      linear-gradient(
        30deg,
        #111111 12%,
        transparent 12.5%,
        transparent 87%,
        #111111 87.5%,
        #111111
      ),
      linear-gradient(
        150deg,
        #111111 12%,
        transparent 12.5%,
        transparent 87%,
        #111111 87.5%,
        #111111
      ),
      linear-gradient(
        60deg,
        #77777777 25%,
        transparent 25.5%,
        transparent 75%,
        #77777777 75%,
        #77777777
      ),
      linear-gradient(
        60deg,
        #77777777 25%,
        transparent 25.5%,
        transparent 75%,
        #77777777 75%,
        #77777777
      );
    background-position:
      0 0,
      0 0,
      40px 70px,
      40px 70px,
      0 0,
      40px 70px;
    background-color: #000000;
    background-size: 80px 140px;
    box-shadow: inset 0 0 100px rgba(255, 215, 0, 0.1);
  }

  
  main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    position: relative;
    min-block-size: 0;
    box-sizing: border-box;
  }

  h1 {
    font-size: 3.125rem;
    font-weight: 500;
    font-family: "Cambria", serif;
    color: #fff;
    text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px  2px 0 #000,
      2px  2px 0 #000;
  }

  .content {
    padding: 6rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: stretch;
    height: 350px;
    max-width: 720px;
  }

  .content > * {
    height: 100%;
    overflow: auto;
  }
  .content search-component {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    overflow: hidden;
  }

  .content details-component {
    margin-right: 2rem;
    background-color: rgb(249, 249, 249, 0.6);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
