html, body {
    height: 100%;
    margin: 0;
 }
 
app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
}
app-root main {
    height: 100%;
    padding: 0;
    background-image: url('assets/images/cinema-room-2.jpg');
    background-size: cover;
    background-position: center;
}
